

.container-fluid{
  text-align: center;
}

body .container-fluid h3{
  font-family: 'Poppins', Courier, monospace;
  color: black;
}

.navbar{
    background-color: white;
}

.margin{
  padding-top: 50px;
  padding-bottom: 50px;
}

.quemSomos div img{
  justify-content: center;
}

.quemSomos p {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 20px;
  color: rgb(7, 7, 8);
}

.depoimentos p {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 20px;
  color: rgb(194, 27, 4);
  background-color: #F5F5F5;
}

@media only screen and (min-width: 500px) {
  .quemSomos img {
    width: 600px;
    height: 700px;
  }
}

@media only screen and (min-width: 600px) {
  .carousel-inner img {
    width: 100%;
    height: 600px;
  }
}